.courseAddReview{
    display: flex;   
    text-align: center;
    flex-flow: row;
    padding-right: 21px;
    padding-top: 25px;
    padding-left: 21px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.add-review-text{
    display: inline-block;
    font-weight: normal;
    font-size: 26px;
}

.add-review-button {
    width: 200px;
    border-radius: 10px;
    height: 60px;
    border: none;
    color: white;
    background-color: #333f48;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}

.add-review-button:hover {
    background-color: #333f48dc;
}

.review-filters{
    display: flex;
    flex-direction: row;
}

.review-sort{
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
}

.review-list-item{
    border: 0.5px solid black;
}

.course-review-entry{
    display: flex;
    flex-direction: row;
}

.userDes{
    word-wrap: break-word;
    width: 300px;
    font-size: small;
}

.userRev{
    align-content: left;
    width: 700px;
    margin-right: 20px;
    margin-left: 20px;
    border-right: 1px solid black;
}

.review-text{
    margin-bottom: 0px;
    margin-right: 10px;
}

.LikeDislike{
    width: 50%;
    white-space: nowrap;
}

.review-like-grade{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
}

.review-grade{
    margin-right: 10px;
}

.review-report{
    margin-right: 10px;
}

.likeButton{
    background-color: white;
    border: none;
    
}

.likeButton:focus,
.likeButton:active,
.dislikeButton:focus,
.dislikeButton:active,
.reportButton:focus,
.reportButton:active {
  outline: none;
}

.likeButton:hover{
    transform: scale(1.15);
}

.dislikeButton:hover{
    transform: scale(1.15);
}

.reportButton:hover{
    transform: scale(1.15);
}

.reportButton{
    background-color: white;
    border: none;
}

.dislikeButton{
    background-color: white;
    border: none;
}

.userRat{
    align-content: left;
    margin-right: 10px;
    width: 425px;    
}

.rowRating{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
}

.rowApproval{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 992px){
    .courseAddReview{
        justify-content: center;
    }

    .rowRating{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .courseAddReview{
        flex-direction: column;
        justify-content: center;
    }

    .add-review{
        margin-left: 30px;
        margin-top: 10px;
    }

    .courseReviews{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 576px){
    .review-filters{
        flex-direction: column;
        align-items: center;
    }

    .review-sort{
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    .course-review-entry{
        flex-direction: column;
    }

    .userDes{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-bottom: 20px;
    }

    .userText{
        margin-top: 5px;
        margin-left: 10px;
    }

    .userRev{
        align-items: center;
        width: auto;
        margin-bottom: 20px;
        border-right: none;
        margin-right: 5px;
        margin-left: 5px;
        border-bottom: 1px solid black;
    }

    .review-like-grade{
        margin-bottom: 10px;
        position: relative;
        margin-top: 10px;
        width: 100%
    }

    .userRat{
        align-content: left;
        margin-right: 10px;
        width: auto;    
    }

    .rowRating{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 380px){
    .userRat{
        justify-items: center;
        margin: 0 auto;
        width: auto;    
    }

    .review-list-item{
        margin-left: 0px;
        margin-right: 0px;
    }

    .rowRating{
        display: flex;
        flex-direction: column;
    }

    .review-like-grade{
        flex-direction: column;
    }

    .review-grade{
        width: auto;
    }

    .LikeDislike{
        width: auto;
    }
}