$time: 8s;
$box-size: 460px;
$clip-distance: .04;
$clip-size: $box-size * (1 + $clip-distance * 2) - 33;
$path-width: 2px;

@media screen and (min-width: 579px) {
    
    .course-ratings{
        position: relative;
        width: 460px;
        height: 340px;
        background-color: rgba(255, 255, 255, 0.021);
        margin-top: 10px;
        padding: 25px;
        color: white;
        box-shadow: inset 0 0 0 1px rgba(white, .5);       
        background-image: url("data:image/svg+xml;charset=UTF-8,
        %3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3e rect %7b 
        fill: transparent; 
        stroke: darkorange; 
        stroke-dasharray: 1600; 
        stroke-dashoffset: 1600; 
        animation:change 7s ease-in-out forwards; 
        stroke-width: 3;
        %7d %40keyframes change %7b to %7b stroke-dashoffset: 0;
        %7d %7d %3c/style%3e%3crect width='460px' height='340' /%3e%3c/svg%3e ");

        &::before,
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            z-index: 2;
            margin: -0.04 * 60%;
            box-shadow: inset 0 0 0 1.2px;
            color: rgba(255, 255, 255, 0.50); 
        }
    }
}

/* animation: movingBorder 6s linear;
animation-iteration-count: 0; */


/*
&::before {
        for two opposite moving borders animation-delay: $time * -.5; 
}*/  


/*

@keyframes movingBorder {
    0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
    25% {clip: rect(100px, $path-width, $clip-size - 100px, 0px); }
    50% {clip: rect($clip-size - $path-width - 110px, $clip-size + 10px, $clip-size,  0px); }
    75% {clip: rect(0px, $clip-size + 300px, $clip-size - 102px, $clip-size - $path-width + 15px); }
} */