.courseSchedule{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.semSchedule{
    background-color: white;
    word-wrap: break-word;
}

.schedule-tabs:focus {
    outline: none;
}

.schedule-table{
    margin-bottom: 0px;
    max-height: 300px;
}

.schedule-table thead th {
    position: sticky; 
    top: 0;
}

.schedule-table th, tr, td{
    width: 1%;
}

.schedule-table thead th{
    background-color: #333f48;
    border-top-width: 0;
    color: white;
}

.none-scheduled{
    background-color: white;
    white-space: normal;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 992px){
    .courseSchedule{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px){
    .courseSchedule{
        margin-left: 10px;
        margin-right: 10px;
    }
}