
.courseSchedule{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.semSchedule{
    background-color: white;
    word-wrap: break-word;
}

.schedule-tabs:focus {
    outline: none;
}

.schedule-table{
    margin-bottom: 0px;
    max-height: 300px;
}

.schedule-table thead th {
    position: sticky; 
    top: 0;
    background-color: white !important;
    color: #333f48 !important;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.schedule-table th, tr, td{
    width: 1%;
}

.none-scheduled{
    background-color: white;
    white-space: normal;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333f48;
}

.table-information {
    font-weight: 900 !important;
}

@media screen and (max-width: 992px){
    .courseSchedule{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px){
    .courseSchedule{
        margin-left: 10px;
        margin-right: 10px;
    }
}