.modal {
	overflow-y: auto
}

body.modal-open {
	overflow: hidden;
}

.on-top {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: absolute;
	background-color: rgba(255, 255, 255, .7)
}

.form-wrapper {
	position: relative;
	flex: 1 1 auto;
	margin: 0;
}

.loading-text {
	padding-top: 1em;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(191, 87, 0, 0.25);
}

.signup {
	overflow-y: scroll;
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

.signup::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

.modal.modal-static .modal-dialog {
	-webkit-transform: none !important;
	transform: none !important;
}