.on-top {
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	z-index: 1000;
	position: absolute;
	
	background-color: rgba(255, 255, 255, .7)
}

.absolute {
	position: absolute;
}

.form-wrapper {
	position: relative;
    flex: 1 1 auto;
    margin: 0;
}

.loading-text {
	padding-top: 1em;
}

.forgot-password-text{
	text-align: center;
	margin: 0 auto;
	display: block;
}