
.clear-both {
    clear: both;
}

.over-auto {
    overflow: auto;
}

.sortable {
    cursor: pointer;
    text-decoration: underline;
}

.result-table {
    background-color: white;
    min-width: 100%;
}

.result-table th{
    white-space: nowrap;
}

table {
    table-layout: fixed;
}

td {
    overflow-wrap: break-word;
}

.search-banner {
    color: white;
    background-color: #333f48;
}