.profile-container {
	color: black;
	background-color: #d6d2c4;
	text-align: center;
}

.profile {
	border-radius: 5px;
	margin: 20px auto;
	margin-top: 0px;
	float: none;
	border-style: hidden;
	background-color: #ffffff;
	box-shadow: 0px 8px 10px gray, -10px 8px 15px gray, 10px 8px 15px gray;
}

.profile-divider {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.review-list {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.review-container {
	display: inline-block;
	text-align: center;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.review-content {
	border-style: hidden;
	text-align: left;
}

.review-content td:nth-child(2), .review-content th:nth-child(2) {
	border-right: solid 1px;
}

.settings-button {
	margin-top: 15px;
	display: flex;
	justify-content: start;
}

.user-information {
	margin-top: -50px;
	display: inline-block;
}
