.profile-container {
	color: black;
	background-color: #d6d2c456;
	text-align: center;
}

.profile {
	border-radius: 5px;
	margin: 20px auto;
	margin-top: 0px;
	float: none;
	border-style: hidden;
	background-color: #ffffff;
	box-shadow: 0px 8px 10px gray, -10px 8px 15px gray, 10px 8px 15px gray;
}

.profile-divider {
	border: 0;
	height: 1px;
	margin-top: auto;
	width: 50%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.reviews-title {
	font-size: 28px;
	margin-top: 20px;
	font-weight: lighter;
}

.profile-review-list {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	overflow-y: auto;
	max-height: 530px;
}

.review-container {
	display: inline-block;
	text-align: center;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.profile-review-wrapper {
	border: 2px solid rgb(143, 143, 143);
	border-radius: 10px;
	height: 235px;
	width: 200px;
	z-index: 0;
}

.profile-review-wrapper:hover {
	border: 2px solid rgb(190, 190, 190);
	transition: 0.3s all ease;
	background-color: #bf5600ab;
}

.profile-review-wrapper:hover .review-buttons {
	opacity: 1;
	transition: 0.4s;
}

.course-name-wrapper {
	font-size: 28px;
	font-weight: bold;
	margin-top: 25px;
}

.course-name {
	font-size: 28px;
	font-weight: bold;
}

.semester-date {
	user-select: none;
}

.prof-name {
	margin-bottom: 25px;
	font-weight: bold;
}

.update-date {
	margin-top: 24px;
	user-select: none;
	color: rgb(54, 54, 54);
}

.profile-review-wrapper:hover .course-name-wrapper {
	color: white !important;
}

.profile-review-wrapper:hover .update-date, 
.profile-review-wrapper:hover .prof-name, 
.profile-review-wrapper:hover .semester-date {
	visibility: hidden;
}

.review-content {
	text-align: left;
}

.settings-button {
	margin-top: 15px;
	display: flex;
	justify-content: flex-start;
}

.user-information {
	margin-top: -50px;
	display: inline-block;
}

.trash-icon {
	display: flex;
	justify-content: center;
}

.trash-icon:hover {
    cursor: pointer;
}

.like-icon{
	margin-right: 10px;
}

.button-wrapper1 {
	margin-top: -144px;
	outline: none;
}

.button-wrapper2 {
	margin-top: -20px;
}

.delete-review {
	display: inline-grid;
	font-size: 12px;
	margin-top: 15px;
	opacity: 0;
	cursor: pointer;
	color: white;
}

.delete-review:hover {
	text-decoration: underline;
}

.profile-review-wrapper:hover .delete-review {
	transition: 0.5s;
	opacity: 1;
}

.review-buttons {
	background-color: Transparent;
	border: none;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	opacity: 0;
	user-select: none;
	font-size: 18px;
	border: 1px solid white;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

.review-buttons:hover {
	color: white;
	transition: 0.2s all ease;
	transform: scale(1.15);
}

.review-buttons:focus {
	outline: none;
}

.other-major-text{
	margin-bottom: 0px;
}

.other-major-label{
	padding-left: 10px;
}
.btn-upload-courses{
	margin-bottom: 20px;
}

.upload-courses-body{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.review-sort{
	z-index: 1;
}