.prof-stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #333f48;
}

.prof-stats:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 540px;
    z-index: 1;
    opacity: 0.30;
    background-image: url('./../../../../res/img/blackboard-prof-background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.prof-info{
    margin-right: 50px;
    margin-left: 85px;
    margin-top: -10px;
    max-width: 48%;
    min-width: 42%;
}

.info-header{
    background-color: white;
}

.info-body{
    color: white;
    background-color: #333f48;
}

.card-title{
    padding-bottom: 10px;
}

.prof-title{
    color: white;
}

.prof-name{
    position: relative;
    z-index: 2;
    font-size: 70px;
}

.userRatings{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.rating{
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    z-index: 2;
}

.rating-heading{
    text-align: center;
}

.progress{
    height: 30px;
}

.p-rating {
    margin-bottom: 5px;
    margin-top: 10px;
}

.view-reviews-prof-wrapper {
    margin-top: 20px;
    margin-left: -75%;
}

.view-reviews-prof {
    width: 120px;
    position: relative;
    z-index: 2;
    color: #fff !important;
    text-decoration: none;
    background: #bf5700;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.view-reviews-prof:hover {
    width: 130px;
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

@media screen and (min-width: 1255px){
    .prof-info{
        margin-right: 10%;
    }
}


@media screen and (max-width: 1049px){
    .prof-stats{
        flex-direction: column;
    }

    .prof-stats:before {
        background-image: none;
    }

    .prof-info{
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 100%;
    }

    .view-reviews-prof-wrapper {
        margin-top: 20px;
        margin-left: -65%;
    }
    
    .userRatings{
        flex-direction: row;
    }

    .profRatings{
        margin: 0 auto;
        margin-top: 50px;
        justify-content: center;
        display: inline-block;
        width: auto;
    }
}

@media screen and (max-width: 859px){
    .prof-name {
        font-size: 55px;
        font-weight: 500 !important;
    }
}



@media screen and (max-width: 768px){
    .prof-stats{
        flex-direction: column;
    }

    .profInfo{
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 50px;
        max-width: 80%;
        min-width: 80%;
    }
    
    .userRatings{
        flex-direction: row;
    }

    .profRatings{
        margin: 0 auto;
        margin-top: 50px;
        justify-content: center;
        display: inline-block;
        width: auto;
    }
}

@media screen and (max-width: 646px) {
    .prof-name {
        font-size: 40px;
    }

    .view-reviews-prof-wrapper {
        margin-top: 20px;
        margin-left: -35%;
    }
}




@media screen and (max-width: 578px){   
    .prof-stats{
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }

    .userRatings{
        flex-direction: column;
    }

    .profInfo{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
    }

    .prof-ratings{
        border: 3px outset #308ccace;
        background-color: rgba(255, 255, 255, 0.021);
        padding: 30px;
        border-radius: 40px;
        margin: 0 auto;
        margin-top: 10px;
        justify-content: center;
        width: auto;
        display: inline-block;
    }
}