
main {

    height: 100vh;
    width: 100vw;
    max-width: 100%;
    min-height: 500px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, rgba( 156, 173, 183, 0.52), rgba(191, 87, 0, 0.73)), url('./../../res/img/triangles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    color: white;
}

.search-wrapper {
    width: calc(100vw * .22 + 230px);
}
