
main.home-page {

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(191, 87, 0, 0.73)), url('./../../res/img/triangles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    color: white;
}

.home-sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    width: calc(100vw * .22 + 230px);
}

.figure-caption{
    background-color: #333f48;
    color: #9cadb7;
}

@media screen and (max-width: 768px){

    h1.home-main-txt {
        font-size: 200%;
    }
}

@media screen and (max-width: 576px){
    
    h1.home-main-txt {
        font-size: 175%;    }
}
