.contact-us {
	background-color: white;
	min-height: 100vh;
}

.contact-header {
	padding-top: 20px;
}

.contact-description {
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.contact-form-element {
	text-align: left;
}

.contact-submit {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.message-input {
	height: 100px;
	resize: none;
}

.feedback-notif{
	display: inline-block;
	padding-top: 5px;
	padding-right: 10px;
}

.feedback-notif-text {
	margin-top: 10px;
	margin-right: 25px;
}

#feedback-received {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

@media (max-width: 576px) {
	.contact-header {
		font-size: 365%;
	}
	.contact-description {
		font-size: 100%
	}
}