.contact-form-label {
	text-align: left;
	padding-left: 0px;
	margin-top: 20px;
}

.contact-header {
	padding-top: 20px;
}

.contact-submit {
	margin-top: 30px;
}

.warning {
	color: red;
}

.message-input {
	height: 100px;
}