@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Open+Sans&family=Questrial&family=Trirong&family=Zilla+Slab&display=swap');

ol li{
    list-style-type: none;
}

li > span{
    font-weight: bold
}

.review-form li {
    font-weight: bold
}

li * {
    font-weight: normal;
}

.review-page-wrapper {
    width: 100%;
    background-color: rgba(17, 71, 141, 0.384);
    font-family: 'Open Sans', sans-serif;
}

.review-form-opening {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.418);
}

.review-form-card {
    border: 0.6px solid rgba(53, 53, 53, 0.76);
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.295);
    border-radius: 12px;
}

.review-title {
    font-family: 'Open Sans', sans-serif;
}

.review-subtitle {
    font-family: 'Open Sans', sans-serif;
}

.review-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.review-form {
    border-radius: 0px;
    margin: 0px auto;
	float: none;
	border-style: hidden;
}

.review-form-card {
    background-color: white;
}

.review-row {
    display: flex;
    flex-direction: row;
    align-items: top;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-questions-wrapper {
    margin-top: 10px;
}

.review-rating{
    padding-top: 3px;
}

.approval-buttons{
    margin-bottom: 5px;
}

.btn-approval:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.btn-approval {
    padding-right: 15px;
    display: inline-block;
}

.review-grade{
    display: flex;
    flex-direction: row;
}

.grade-input{
    margin-left: 20px;
    width: 50px;
    height: 30px;
}

.info-tooltip{
    padding-left: 5px; 
    padding-right: 0px;
    outline: none;
    border: none;
    background: none;
}

.info-tooltip:focus{
    outline: none;
}

.course-and-prof {
    display: flex;
    flex-direction: row;
}

.semester-select {
    display: flex;
    flex-direction: row;
}

.semester-form-shortener {
    max-width: 50%;
    margin-right: 1.2vw;
}

.semester-year-shortener {
    max-width: 50%;
}

.review-form-selector {
    width: 50%;
}

.review-form-dropdown {
    margin-left: -1.2vw;
    margin-top: 7.5px;
}

.course-prof-forms {
    max-width: 92%;
}

.review-form-grade {
    max-width: 50%;
}

.course-prof-forms::placeholder {
    font-size: 14px;
    font-style: italic;
}

@media screen and (max-width: 478px){
    .review-form-wrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .review-form-card {
        border-radius: 0px;
    }

    .review-title {
        font-size: 18px;
    }

    .review-form-dropdown {
        margin-left: -2vw;
    }

    .semester-form-shortener {
        margin-right: 3.3vw;
    }
    
    .review-subtitle {
        font-size: 14px;
    }

    .review-questions-wrapper {
        padding-left: 0;
    }

    .review-form-dropdown {
        margin-left: -3vw;
    }

    li > span{
        font-size: 15px;
    }

    .course-prof-forms {
        max-width: 95%;
    }
    
    .review-form-grade {
        max-width: 70%;
    }
}

@media screen and (max-width: 380px){
    .review-title {
        font-size: 16.2px;
    }
}


@media screen and (min-width: 1670px){
    .review-form-dropdown {
        margin-left: -0.6vw;
    }

    .semester-form-shortener {
        margin-right: 0.6vw;
    }

}

