
li > span{
    font-weight: bold
}

.review-form li {
    font-weight: bold
}

li * {
    font-weight: normal
}

.review-form {
    border-radius: 5px;
    margin: 0px auto;
	float: none;
	border-style: hidden;
}

.btn-approval:hover {
    cursor: pointer;
}

.btn-approval {
    padding-right: 15px;
}

.review-grade{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.grade-input{
    margin-left: 20px;
    width: 50px;
    height: 30px;
}