.utmain {
    color: #bf5700;
}

.utlight {
    color: #f8971f;
}

.utdark {
    color: #333f48;
}

a.utcolor, link.utcolor {
    color: #bf5700;
}

a.utcolor:hover, link.utcolor:hover {
    color: #f8971f;
}

a.utcolor:active, link.utcolor:active {
    color: #333f48;
}

.white-text {
    color: white;
}

.btn-utcolor {
    background-color: #bf5700;
    color: white;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]+label:before {
    content: "";

    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    margin-right: 5px;

    background-clip: content-box;
    border: 1px solid #9cadb7;
    background-color: #e7e6e7;
    border-radius: 50%;
}

input[type="radio"]:checked+label:before {
    background-color: #bf5700;
}
