.utmain {
    color: #bf5700;
}

.utlight {
    color: #f8971f;
}

.utdark {
    color: #333f48;
}

a.utcolor, link.utcolor {
    color: #bf5700;
}

a.utcolor:hover, link.utcolor:hover {
    color: #f8971f;
}

a.utcolor:active, link.utcolor:active {
    color: #333f48;
}

.white-text {
    color: white;
}

.btn-utcolor {
    background-color: #bf5700;
    color: white;
}
