.course-details-main {
    background-color: #9cadb7;
    background-size: cover;
    margin: 0;
}

.course-details-main a{
    color:#bf5700;
}

.course-details-main table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;    
}

.course-details-main th{
    text-align: center;
}

.course-card{
    border-color: #9cadb7;
}

.card-table{
    background-color: #9cadb7;
}

.course-header{
    background-color:#333f48;
    color: white;
}

.details-header i{
    float: right;
}

.name-column{
    text-align: left;
}



