.course-details-main {
    background-color: #d6d2c456;
    background-size: cover;
    margin: 0;
}

.course-details-main table {
    border-collapse: collapse;
    background-color: none;    
}

.course-details-main th{
    text-align: left;
}

.course-card{
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-table{
    background-color: none;
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-body{
    background-color: none;
}

.course-header{
    background-color:#333f48;
    color: white;
}

.details-header {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -5px;
    letter-spacing: 0.65px;
}

.details-header i{
    float: right;
}

.name-column{
    text-align: left;
}

.course-details-block-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
}

.topics-requisites {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
    align-content: center;
}

.prof-schedule-tables {
    width: 100%;
    margin-top: 1px;
    padding-right: 70px;
    padding-left: 70px;
}

.table-information-text {
    font-family: 'Open Sans', sans-serif;
}

.course-reviews-block-wrapper {
    display: flex;
    flex-direction: column;
}

.course-reviews-wrapper {
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    margin-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1170px) {

    .courseTopics {
        margin-right: -50px;
        width: 350px;
    }

    .course-requisites{
        margin-left: 0px;
    }
}

@media screen and (max-width: 949px){
    .courseTopics {
        font-size: 14px;
        width: 300px;
    }

    .requisites-title {
        font-size: 18px;
    }

    .prof-schedule-tables {
        padding-right: 20px;
        padding-left: 20px;
    }

    .course-reviews-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 822px){
    .course-details-block-wrapper {
        margin-top: 30px;
    }

    .course-requisites {
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .topics-requisites {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .courseTopics {
        width: 80%;
        font-size: 14px;
        margin-left: 10.1%;
    }
}

@media screen and (max-width: 550px){
    .courseTopics {
        width: 80%;
        margin-left: 10.1%;
    }
    .requisites-title {
        font-size: 16px;
    }

    .details-header {
        font-size: 22px;
    }

    .course-details-block-wrapper {
        margin-bottom: -20px;
    }
}

@media screen and (max-width: 430px) {
    .course-requisites{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .prerequisites-wrapper {
        margin-right: 0px;
    }
    
    .restrictions-wrapper {
        margin-top: 20px;
    }

    .prof-schedule-tables {
        padding-right: 2px;
        padding-left: 2px;
        margin-top: 0px;
    }
}