table {
    border: 1px solid black;
    border-collapse: collapse;
}

thead{
    border: 1px solid black;
}

th{
    text-align: center;
}

tr{
    border: 1px solid black;
}

a{
    color: #bf5700;
}

.course-details-main {
    background-color: #9cadb7;
    background-size: cover;
    margin: 0;
}

.course-card{
    border-color: #9cadb7;
}

.name-column{
    text-align: left;
}

.course-header{
    background-color:#333f48;
    color: white;
}

.list-group {
    border: 0.5px solid black;
}

.course-stats{
    display: flex;
    flex-direction: row;
}

.progress{
    height: 30px;
}

.rating{
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
}

.rating-heading{
    text-align: center;
}

p{
    margin-right: 10px;
}

.p-rating {
    margin-bottom: 5px;
    margin-top: 10px;
}

.p-review {
    margin-bottom: 5px;
    margin-top: 1px;
    overflow-wrap: normal;
}

.rowRating{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
}

.rowApproval{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.CourseInfo{
    margin-right: 40px;
    margin-left: 75px;
    margin-top: 50px;
}

.CourseRatings{
    margin-right: 75px;
    margin-left: 10px;
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.userRatings{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.course-review-entry{
    display: flex;
    flex-direction: row;
}

.userDes{
    word-wrap: break-word;
    width: 300px;
    font-size: small;
}

.userRev{
    align-content: left;
    width: 700px;
    margin-right: 20px;
    margin-left: 20px;
}

.courseAddReview{
    display: flex;
    margin-left: 250px;
}

.courseReviews{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.courseSchedule{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
  

.courseProfs{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.add-review{
    margin-left: 30px;
}

@media screen and (max-width: 992px){
    .userRatings{
        flex-direction: column;
    }

    .CourseRatings{
        margin-right: 50px;
        margin-left: 10px;
        width: 200px;
        display: flex;
        flex-direction: column;
    }

    .CourseInfo{
        margin-right: 10px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .courseAddReview{
        margin-left: 100px;
    }

    .rowRating{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .userRatings{
        flex-direction: row;
    }
    .course-stats{
        flex-direction: column;
    }

    .CourseRatings{
        margin-right: 50px;
        margin-left: 100px;
        margin-top: 30px;
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .CourseInfo{
        margin-right: 10px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .courseAddReview{
        flex-direction: column;
    }

    .add-review{
        margin-left: 30px;
        margin-top: 10px;
    }

    .courseReviews{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .courseProfs{
        margin-left: 10px;
        margin-right: 10px;
    }

    .courseSchedule{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 576px){
    .userRatings{
        flex-direction: row;
    }
    .course-stats{
        flex-direction: column;
    }

    .CourseRatings{
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 30px;
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .CourseInfo{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
    }
}

.userRat{
    align-content: left;
    margin-right: 10px;
    width: 425px;
}

.row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.d-flex{
    align-items: start;
}

.courseRequisites{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.likeButton{
    background-color: white;
    border: none;
}

.dislikeButton{
    background-color: white;
    border: none;
}

.LikeDislike{
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.reviewDate{
    margin-bottom: 10px;
    right: 275px;
    position: absolute;
    bottom: 0;
}

.parentCircle {
    position: relative;
}

div.circle {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 100px/100px;
    border: solid 5px #0080ff;
    width: 150px;
    height: 150px;
  }

