.prof-details-main {
    background-color: #d6d2c4;
    background-size: cover;
    margin: 0;
}

.prof-details-main a{
    color:#bf5700;
}

.prof-details-main table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;    
}

.prof-details-main th{
    text-align: center;
}

.prof-card{
    border-color: #9cadb7;
    padding-right: 0px;
    padding-left: 0px;
}

.card-table{
    background-color: white;
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.prof-header{
    background-color:#333f48;
    color: white;
}

.details-header i{
    float: right;
}

.name-column{
    text-align: left;
}