.footer-main {
    background-color: #333f48;
    width: 100%;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #f8971f;
}

.footer-link:active {
    color: #f8971f;
}

.footer-txt {
    font-size: 90%;
}