.footer-main {
    background-color: #333f48;
    width: 100%;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #f8971f;
}

.footer-link:active {
    color: #f8971f;
}

.footer-txt {
    font-size: 90%;
}

.fa-facebook {
    background: #333f48;
    color: white;
}

.fa-facebook:hover {
    color: #f8971f;
    text-decoration: none;
}

ul.footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.footer-nav li {
    float: left;
}

.footer-nav .right {
    float: none;
    display: inline-block;
}