#nav-brand {
    font-size: 140%;
    color: white;
}

#nav-brand:hover {
    text-decoration: none;
}

.nav-search {
    background-color: black;
}

.invisibile {
    visibility: hidden;
}

.btn-nav {
    color: white
}

.btn-nav:hover {
    color: white;
    border: 1px solid white
}

.brand-txt {
    color: white;
    font-size: 125%;
}

.brand-txt:hover {
    color: #bf5700;
    text-decoration: none;
}

.big-brand-txt {
    color: white;
    font-size: 175%;
}

.big-brand-txt:hover {
    text-decoration: none;
    color: white;
}

.nav-bar-profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}

.dropdown-toggle::after {
    color: #bf5700;
    margin-left: .6em;
    vertical-align: -.255em;
    border-top: .5em solid;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.dropdown-item:hover {
    cursor: pointer;
}

.dropdown-item:active {
    background-color: #bf5700;
}

@media screen and (max-width: 768px) {
    .big-brand-txt {
        font-size: 125%;
    }
}

@media screen and (max-width: 576px) {
    .big-brand-txt {
        display: none;
    }
}