
#nav-brand {
    font-size: 140%;
    color: white;
}

#nav-brand:hover {
    text-decoration: none;
}

.nav-search {
    background-color: black;
}

.invisibile {
    visibility: hidden;
}

.btn-nav {
    color: white
}

.btn-nav:hover {
    color: white;
    border: 1px solid white
}

.big-brand-txt{
    color: white;
    font-size: 175%;
}

.big-brand-txt:hover {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px){

    .big-brand-txt {
        font-size: 125%;
    }
}

@media screen and (max-width: 576px){
    
    .big-brand-txt {
        display: none;
    }
}