.c-rating label {
    margin: 0
}

.c-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-color: #333f48;
    border-radius: 10px;
    height: 10px;
    outline: none;
    opacity: 0.9;
    color: #bf5700;
}

.c-range:hover {
    opacity: 1;
}

.c-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #bf5700;
    border-radius: 50%;
    border: 3px solid #333f48;
    cursor: pointer;
}

.sem-radio {
    display: inline-flex;
    float: left;
    clear: both;
}

.sem-radio:hover {
    cursor: pointer;
}

.sem-radio label:hover {
    cursor: pointer;
}

.custom-checkbox {
    display: inline-block;
    text-align: center;
}

.custom-checkbox:hover {
    cursor: pointer;
}

.custom-checkbox:hover .checkbox-container {

}

.checkbox-container {
    padding: 5px;
    margin: 3px;
    border: 2px solid #bf5700;
    border-radius: 30%;
    display: inline-block;
    color: #bf5700;
}

input[type=checkbox]:checked + .checkbox-container {
    background-color: #bf5700;
    color: white;
}
