.google-button { 
    width: 100%;
}

.google-button-wrapper {
    margin-top: -40px;
}

.google-button-text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 100px;
}

.google-button-wrapper:hover 
.google-button-text {
    transition: 0.2s all ease-in-out;
    color: black;
}

@media screen and (max-width: 576px){
    .google-button-text {
        margin-left: 21.5vw;
    }
}

@media screen and (max-width: 500px){
    .google-button-text {
        margin-left: 18vw;
    }
}

@media screen and (max-width: 450px){
    .google-button-text {
        margin-left: 14vw;
    }
}

@media screen and (max-width: 405px){
    .google-button-text {
        margin-left: 12vw;
    }
}

@media screen and (max-width: 380px){
    .google-button-text {
        margin-left: 10vw;
    }
}